@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
.sidebar{
    background-color: rgb(209, 207, 207);
   /* width: 250px;*/
    font-family: 'Work Sans', sans-serif;
    height: 115svh;
    transition: transform 0.3s ease-in;
    position: inherit;/*u can keep absolute not to push the content*/
}
.sidebar nav{
    padding: 10px;
    text-align: center;
    
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 20px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /*background-color: yellow;*/
    width: 90vw;
    font-family: 'Work Sans', sans-serif;
    padding: 20px;
    /* display: flex; */
}
.container{
    display: flex;
}
.infoContainer{
   /* background-color: blue;*/
    height: 55vh;
    width: 75vw;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    
}
.devpic img{
    width: 250px;
    height: 35vh;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}
.buttons{
    margin-top: 10px;
}
.buttons button{
    padding: 6px 10px;
    border-radius: 20px;
    background-color: cornflowerblue;
    color: aliceblue;
    font-weight: bold;
    font-size: 10px;
    margin: 0 3px;
    cursor: pointer;
    width: fit-content;
}
.buttons button:hover{
    color: cornflowerblue;
    background-color:  aliceblue;
    
}
.contactform{
    font-family: 'Work Sans', sans-serif;
    
    padding: 100px;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 10px 0;
}
.contactform form{
    padding: 15px;
}
.contactform form div{
    padding: 6px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 16vw;
    border-radius: 3px;
    margin: 3px 0 0 0;
    padding: 2px;
}
.small{
    font-size: 8px;
}
#emailHelp{
    font-size: 10px;
    color: midnightblue;
    margin: 0 0px;
    padding: 0 0 0;
}
#clientemail{
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 3px;
}
#form-check{
    flex-direction: row;
    padding-top: 20px;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
    
}
.btn button:hover{
    color: cornflowerblue;
    background-color:  aliceblue;
}
.blogitem {
    margin: 20px;
    font-family: 'Work Sans', sans-serif;
}
.blogitem p{
    font-family: 'Work Sans', sans-serif;
    
    
}
.blogcontainer h1{
    font-family: 'Work Sans', sans-serif;
    margin: 20px;
}
.intro{
    margin: 0 70px;
}
.intro h2{
    font-family: 'Work Sans', sans-serif;
    margin: 0 12px;
}
.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 0 12px;
}
.skillcontainer {
    padding: 10px;
    
}
.skillitem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    margin-bottom: 10px;/*ed*/
}
.skill{
    width : 100px;
    height: 5px;
    background-color: red;
    border: 2px solid black;
}
.hundred{
    width: 260px;
    background-color: red;
    
}
.sevfif{
    width: 200px;
    background-color: aqua;
}
.fifty{
    width: 150px;
    background-color: coral;
}
.t5{
    width: 100px;
    background-color: yellow;
}
.Myproject{
    padding: 10px;
}
@media(max-width:500px){
     /* *{
        background-color: rgb(181, 179, 179);
    
    }*/
    /*.sidebar{
        transform: translate(-400px,0);
        position: absolute;
    }*/
    .devinfo{
        font-size: 10px;
        
    }/*
    .devpic img{
        width: 125px;
        height: 25vh;
        margin-left: 0px;
        margin-right: 15px;
        align-items: center;
    }
    .infoContainer{
        display: flex;
        
    }
    .buttons button{
        background-color: rgb(45, 45, 45);
        padding: 5px;
        margin-bottom: 3px;
       
    }
    .buttons button:hover{
        color: black;
        background-color: whitesmoke;
        
    }*/
    .devpic{
        display: none;
    }
    .sidebar{
        width: 100%;
    }
    .cr{
        font-size: 16px;
    }
    .blogcontainer{
        font-size: 16px;
    }
    .contactform{
        font-size: 16px;
    }
    .contactform {
        padding: 20px; /* Adjust the padding for smaller screens */
    }

    .contactform h1 {
        font-size: 24px; /* Adjust the font size for smaller screens */
    }

    .contactform form {
        padding: 10px; /* Adjust the padding for the form on smaller screens */
    }

    .contactform form div {
        padding: 4px 0; /* Adjust the padding between form elements */
    }

    .contactform form div input {
        width: 100%; /* Make the input fields full width on smaller screens */
    }
    .Myproject{
        font-size: 16px;
    }
}
.triangle{
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
}
.cr{
    margin-left: 100px;
    margin-top: 5px;
}
.tr{
    margin-left: 5px;
    margin-top: 5px;
}
.sideBarGo{
    transform: translate(-400px, 0px);
    position: absolute;
}